<!-- This is the base html that goes into all the pages. It should contain the nav links and CSS links -->
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'MarkTimeApp/custom.css' %}"/>
    <title>Mark Time!</title>
  </head>
  <body>
    <header>
      <div class="jumbotron jumbotron-fluid jumbotron-banner bg-bronco my-0 py-1 text-center">
        <img src="{% static 'MarkTimeApp/PepBandBanner.png' %}" class="banner"/>
      </div>

      <hr class="bg-gold"/>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark-bronco">
        <!-- For a toggleable nav button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="justify-content: center" id="navbar-links">
          <div class="navbar-nav">
            <!-- Put nav links in here -->
            <!-- Check for context variable to determine which nav link is currently active -->
            <!-- url variable names come from MarkTimeApp/urls.py -->
            <a class="nav-item nav-link {% if in_home %}active{% endif %}" href="{% url 'MarkTime-Index' %}">Home</a>
            <a class="nav-item nav-link {% if in_leadership %}active{% endif %}" href="{% url 'MarkTime-Leadership' %}">Leadership</a>
            <a class="nav-item nav-link {% if in_history %}active{% endif %}"href="#">History</a>
            <a class="nav-item nav-link {% if in_faq %}active{% endif %}" href="{% url 'MarkTime-FAQ'%}">FAQ</a>
            <a class="nav-item nav-link {% if in_songs %}active{% endif %}" href="{% url 'MarkTime-Songs'%}">Songs</a>
          </div>
        </div>
      </nav> <!-- End Nav -->
      <hr class="bg-gold mb-3"/>
    </header>

    <!-- blocks for other templates to expand this base template -->
    {% block carousel %}{% endblock carousel %}
    {% block content %}{% endblock content %}

    <!-- This footer doesn't extend all the way to the bottom so it looks weird. If you can fix it then use this one
      <footer class="bg-dark-bronco mb-0">
        <hr class="bg-gold mt-3 mb-0"/>
        <div class="container-fluid text-center bg-dark-bronco text-white">
          <p>For more information about the Bronco Pep Band, contact us at <a class="text-color-gold" href="mailto:broncopepband@gmail.com">broncopepband@gmail.com</a>, or see our <a class="text-color-gold" href="#">Contact Us</a> page.</p>
        </div>
      </footer>
    -->
    <footer>
      <hr class="bg-bronco mt-3 mb-3"/>
      <div class="container-fluid text-center">
        <p>For more information about the Bronco Pep Band, contact us at <a class="text-color-gold" href="mailto:broncopepband@gmail.com"><b>broncopepband@gmail.com</b></a>,
          or see our <a class="text-color-gold" href="#"><b>Contact Us</b></a> page.</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    {% block additional_scripts %}{% endblock additional_scripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>