<!-- Probably getting rid of this carousel if we prefer the album -->
{% extends "MarkTimeApp/PageWithCarousel.html" %}
{% block content %}
    <div class="container">
        <!-- If no carousel was generated for this page, create a div for section header -->
        {% if not page_pictures %}
            <div class="section-header">
                <h3>The Bronco Pep Band of {{history_object.year}} - {{history_object.year|add:"1"}}</h3>
                <hr/>
            </div>
        {% endif %}
        <p>{{history_object.summary|linebreaks}}</p>
    </div>

    {% if page_pictures %}
        <div class="container">
            <div class="section-header">
                <h3>Album for {{history_object.year}} - {{history_object.year|add:"1"}}</h3>
                <hr/>
            </div>
            <div class="row row-eq-height">
                <!-- For every picture from this year create a column with an image link -->
                <!-- Images are automatically resized to fit the boostrap column specifications due to img-fluid -->
                <!-- This lets these images be used as thumbnails -->
                {% for picture in page_pictures %}
                    <div class="col-4 col-md-3">
                        <!-- The picture link uses BandPicture.get_absolute_url to determine the picture's detail page -->
                        <a href="{{picture.get_absolute_url}}"><img class="img-fluid img-thumbnail my-2" src="{{ picture.picture_file.url }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}