{% extends 'MarkTimeApp/Base.html' %}
{% block content %}
    <div class="container">
        <div class="section-header">
            <h3>Current Officers</h3>
            <hr/>
        </div>
        <div class="row row-eq-height">
            <!-- For every eboard member make a boostrap card that fits into a boostrap column -->
            {% for board_member in eboard_members %}
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-stretch">
                <div class="card bg-dark-bronco my-3 text-center px-2 eboard-card-border text-color-gold">
                    <div class="card-header">
                        <h5 class="card-text">{{ board_member.eboard_position }}</h5>
                    </div>
                    <img class="card-img-top rounded" src="{{board_member.eboard_picture.url}}"/>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">{{board_member.first_name}} {{board_member.last_name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <br/><br/><hr/><br/><br/>

        <div class="row row-eq-height">
            <!-- For every eboard member make a boostrap card that fits into a boostrap column -->
            {% for board_member in eboard_members %}
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-stretch">
                <div class="card my-3 text-center px-0 py-0 border-0 bg-site-default">
                    <img class="card-img-top rounded shadow-lg border-right" src="{{board_member.eboard_picture.url}}"/>
                    <div class="card-body my-0 py-1">
                        <p class="card-text font-weight-bold my-0">{{ board_member.eboard_position }}</p>
                        <p class="card-text font-italic my-0">{{board_member.first_name}} {{board_member.last_name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

                <br/><br/><hr/><br/><br/>

        <div class="row row-eq-height">
            <!-- For every eboard member make a boostrap card that fits into a boostrap column -->
            {% for board_member in eboard_members %}
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-stretch">
                <div class="card my-3 text-center px-0 py-0 border-0 bg-site-default">
                    <img class="card-img-top rounded-circle shadow-lg border-bronco-thin" src="{{board_member.eboard_picture.url}}"/>
                    <div class="card-body my-0 py-3">
                        <p class="card-text font-weight-bold my-0">{{ board_member.eboard_position }}</p>
                        <p class="card-text font-italic my-0">{{board_member.first_name}} {{board_member.last_name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <br/><br/><hr/><br/><br/>
        <div class="row row-eq-height">
            {% for board_member in eboard_members %}
                <div class="offset-1 col-2">
                    <div class="card mt-1 mb-5 px-0 py-0 border-0 bg-site-default">
                        <img class="card-img-top rounded-circle shadow-lg border-bronco-thin" src="{{board_member.eboard_picture.url}}"/>
                    </div>
                </div>
                <div class="col-8 mb-4">
                    <p><b>{{ board_member.eboard_position }}</b> - {{ board_member.first_name }} {{ board_member.last_name }}</p>
                    <p>{{ board_member.about_me }}</p>
                </div>
                <div class="col-1"></div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}