{% extends "MarkTimeApp/Base.html" %}
{% block content %}
    <div class="container">
        <div class="section-header">
            <h3>Music</h3>
            <hr/>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <!--<th>Performer</th>-->
                    <th>Recording</th>
                </tr>
            </thead>
            <tbody>
                {% for song in recordings %}
                    <tr>
                        <td class="align-middle">{{song.song_name}}</td>
                        <td class="align-middle">{{song.artist}}</td>
                        <!--<td>{{song.performer}}</td>-->
                        <td class="align-middle">
                            {% if song.recording_file %}
                                <audio controls preload="metadata">
                                    <source src="{{ song.recording_file.url }}" type="audio/mpeg">
                                    <a href="{{ song.recording_file.url }}" download>Download Audio</a>
                                </audio>
                            {% else %}
                                No Recording Available
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mb-3 text-center">
            {% if is_paginated %}
                <a class="music-pagination-link mx-2" href="{% if page_obj.has_previous %} ?page=1 {% else %} # {% endif %}">First</a>
                <a class="music-pagination-link mx-2" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}">Prev</a>
                <a class="music-pagination-link mx-2" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}">Next</a>
                <a class="music-pagination-link mx-2" href="{% if page_obj.has_next %} ?page={{ page_obj.paginator.num_pages }} {% else %} # {% endif %}">Last</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}